// ubah namanya dengan .example, (DBConnection.java)

package com.cafe.config;
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;

public class DBConnection {
    private static final String URL = "jdbc:mysql://127.0.0.1:3307/db_cafe";
    private static final String USER = "root";
    private static final String PASS = "";

    public static Connection getConnection() {
        try {
            // Gunakan DriverManager untuk mendapatkan koneksi
            return DriverManager.getConnection(URL, USER, PASS);
        } catch (SQLException e) {
            // Log spesifik untuk SQLException agar debug lebih mudah
            System.err.println("Koneksi MySQL Gagal: " + e.getMessage());
            return null;
        }
    }
}